@font-face{
  font-family: "Mazzard-H-Extrabold";
  src:url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("woff"),
  url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("opentype"),
  url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("truetype");
}
@font-face{
  font-family: "BeVietnam-Medium";
  src: url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("tff"),  
  url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("opentype"),
  url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("truetype");
}
@font-face{
  font-family: "BeVietnam-Bold";
  src: url("./fonts/BeVietnam/BeVietnam-Bold.ttf") format("tff"),  
  url("./fonts/BeVietnam/BeVietnam-Bold.ttf") format("opentype"),
  url("./fonts/BeVietnam/BeVietnam-Bold.ttf") format("truetype");
}
@font-face{
  font-family: "BeVietnam-ExtraBold";
  src: url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("tff"),  
  url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("opentype"),
  url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("truetype");
}
@font-face{
  font-family: "BeVietnam-SemiBold";
  src: url("./fonts/BeVietnam/BeVietnam-SemiBold.ttf") format("tff"),  
  url("./fonts/BeVietnam/BeVietnam-SemiBold.ttf") format("opentype"),
  url("./fonts/BeVietnam/BeVietnam-SemiBold.ttf") format("truetype");
}
@font-face{
  font-family: "BeVietnam-Regular";
  src: url("./fonts/BeVietnam/BeVietnam-Regular.ttf") format("tff"),  
  url("./fonts/BeVietnam/BeVietnam-Regular.ttf") format("opentype"),
  url("./fonts/BeVietnam/BeVietnam-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "Oswald";
  src: url("./fonts/Oswald/Oswald-Medium.ttf") format("tff"),
  url("./fonts/Oswald/Oswald-Medium.ttf") format("opentype"),
  url("./fonts/Oswald/Oswald-Medium.ttf") format("truetype");
}
@font-face{
  font-family: "Oswald-Bold";
  src: url("./fonts/Oswald/Oswald-Bold.ttf") format("tff"),
  url("./fonts/Oswald/Oswald-Bold.ttf") format("opentype"),
  url("./fonts/Oswald/Oswald-Bold.ttf") format("truetype");
}
/* a:focus{
  text-decoration: none;
} */

html, body {
  height: 100%;
  overflow-x: hidden;
}

.aff-org-card-link {
  font-family: 'BeVietnam-ExtraBold', sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  transition: 0.2s;
}
.center-align{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h2, h3, h4, h5, h6, p, a{
  letter-spacing: 1.4px;
}

.mb-6 {
  margin-bottom: 6em;
}
.nav-link{
  color: #ffcc00 !important;
  font-family: "BeVietnam-ExtraBold" !important;
  font-size: 1.5em;
}
.nav-link:hover {
  transition: 0.2s;
  color: #fa8d1f !important;
}
.nav-link:active {
  transition: 0.2s;
  color: black !important;
}
.dropdown-item {
  color: #fa8d1f !important;
  font-family: "BeVietnam-ExtraBold";
  background-color: #ffdb4d !important;
  font-size: 1.2em;
}
.dropdown-item:hover {
  transition: 0.2s;
  background-color: #ffcc00 !important;
  color: #c06204 !important;
}
.dropdown-item:active {
  transition: 0.2s;
  background-color: #ffcc00 !important;
  color: black !important;
}
.hyperlink, .hyperlink:hover {
  text-decoration: none;
  color: black;
}
.nav-link::after {
  content: none !important;
}

.dropdown:hover .dropdown-menu{
  display: block !important;
}
.dropdown-menu {
  border-radius: 15px !important;
  background-color: #ffdb4d !important;
}

.home-aff-org-card-link {
  font-family: 'BeVietnam-ExtraBold', sans-serif;
  font-size: 2.0em;
  transition: 0.2s;
  text-decoration: none;
}
.yellow-row {
  background-color: #FFCC004D;
}

.video-width {
  height: 60vh;
  width: 75% !important;
}

.C06202 {
  color: #C06202;
}

.faq-dropdown {
  background-color: #ffcc0080;
  color: #c06204;
  transition: 200ms;
}
.faq-dropdown:hover {
  background-color: #ffdb4d !important;
  color: #532f04;
  transition: 200ms;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-description-size {
    font-size: 13px;
  }
  .header-size {
    font-size: 27px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-description-size {
    font-size: 13px;
  }
  .header-size {
    font-size: 35px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-description-size {
    font-size: 15px;
  }
  .header-size {
    font-size: 43px;
  }
  /* .video-width {
    width: 100% !important;
    height: auto;
  } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-description-size {
    font-size: 20px;
  }
  .header-size {
    font-size: 55px;
  }
  .aff-org-card-link:hover{
    transition: 0.2s;
    letter-spacing: 0.25em;
    text-decoration: none;
  }
  /* .video-width {
    width: 75% !important;
    height: 60vh;
  } */
  .home-aff-org-card-link:hover{
    transition: 0.2s;
    text-decoration: none;
    color: white !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-description-size {
    font-size: 20px;
  }
  .header-size {
    font-size: 60px;
  }
  /* .video-width {
    width: 75% !important;
    height: 60vh;
  } */
  .home-aff-org-card-link:hover{
    transition: 0.2s;
    text-decoration: none;
    color:white;
  }
}
