@font-face{
  font-family: "mazzard-h-extrabold";
  src:url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("woff"),
  url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("opentype"),
  url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("truetype");
}

html, body {
  height: 100%;
}

h2 {
  font-family: 'Oswald';
  font-size: 100px;
}

.vol_intern_positions {
  color: #fa8d1f
}
.teach_positions {
  color: #fcaf62;
}

.header-blobs{
  background-image: url("media/HeaderBlobs/yellow.png");
  background-size: 100% 100%;
  height: 40vw;
  width: 100vw;
}

.page-header-description {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 10px;
  color: black;
  text-align: center;
}
.page-header {
  font-family: "mazzard-h-extrabold";
  font-size: 27px;
  color: #FFCC00;
  transform: rotate(358deg);
  text-align: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-description-size {
    font-size: 10px;
  }
  .header-size {
    font-size: 27px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-description-size {
    font-size: 13px;
  }
  .header-size {
    font-size: 35px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-description-size {
    font-size: 15px;
  }
  .header-size {
    font-size: 43px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-description-size {
    font-size: 20px;
  }
  .header-size {
    font-size: 55px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-description-size {
    font-size: 20px;
  }
  .header-size {
    font-size: 60px;
  }
}