@font-face{
  font-family: "mazzard-h-extrabold";
  src:url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("woff"),
  url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("opentype"),
  url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("truetype");
}
@font-face{
  font-family: "BeVietnam-Medium";
  src: url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("tff"),  
  url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("opentype"),
  url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("truetype");
}
@font-face{
  font-family: "BeVietnam-ExtraBold";
  src: url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("tff"),  
  url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("opentype"),
  url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("truetype");
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

h2 {
  font-family: 'Oswald';
  font-size: 100px;
}

.vol_intern_positions {
  color: #fa8d1f
}
.teach_positions {
  color: #fcaf62;
}

.aff-org-card-link {
  font-family: 'BeVietnam-ExtraBold', sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  transition: 0.2s;
}

.aff-org-card-link:hover{
  transition: 0.2s;
  letter-spacing: 0.25em;
  text-decoration: none;
}

.header-blobs{
  background-image: url("media/HeaderBlobs/Blob-RFA 4.png");
  background-size: 100% 100%;
  height: 40vw;
  width: 100vw;
}

.page-header-description {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 600;
  color: black;
}
.page-header {
  font-family: "mazzard-h-extrabold";
  transform: rotate(358deg);
}

.afforgs-header{
  font-family: "mazzard-h-extrabold";
}

.afforgs-card-text{
  font-family: 'BeVietnam-Medium', sans-serif;
  font-size: large;
}

.aff-orgs-logo-size {
  height: 20vh;
}

.w-60 {
  width: 60%
}
.w-70 {
  width: 70%
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-description-size {
    font-size: 13px;
  }
  .header-size {
    font-size: 27px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-description-size {
    font-size: 13px;
  }
  .header-size {
    font-size: 35px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-description-size {
    font-size: 15px;
  }
  .header-size {
    font-size: 43px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-description-size {
    font-size: 20px;
  }
  .header-size {
    font-size: 55px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-description-size {
    font-size: 20px;
  }
  .header-size {
    font-size: 60px;
  }
}