@font-face{
  font-family: "mazzard-h-bold";
  src:url("./fonts/MazzardH-Bold.otf") format("woff"),
  url("./fonts/MazzardH-Bold.otf") format("opentype"),
  url("./fonts/MazzardH-Bold.otf") format("truetype");
}

html, body {
  height: 100%;
}

.page-header {
  font-family: "mazzard-h-bold";
  font-size: 5vmax;
  color: #FFCC00;
  transform: rotate(358deg);
  text-align: center;
 }

h2 {
  font-family: 'Oswald';
  font-size: 100px;
}

.vol_intern_positions {
  color: #fa8d1f
}
.teach_positions {
  color: #fcaf62;
}

.page-header-description {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.5vmax;
  color: black;
}
.header-blobs{
  background-image: url("media/HeaderBlobs/yellow.png");
  background-size: 100% 100%;
  height: 40vw;
  width: 100vw;
}
