@font-face{
  font-family: "mazzard-h-extrabold";
  src:url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("woff"),
  url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("opentype"),
  url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("truetype");
}
@font-face{
  font-family: "BeVietnam-Medium";
  src: url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("tff"),  
  url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("opentype"),
  url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("truetype");
}
@font-face{
  font-family: "BeVietnam-ExtraBold";
  src: url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("tff"),  
  url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("opentype"),
  url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("truetype");
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

h2 {
  font-family: 'Oswald';
  font-size: 100px;
}

.mb-6{
  margin-bottom: 5rem;
}

.center-align{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-blobs{
  background-size: 100% 100%;
  height: 45vw;
  width: 100vw;
}

.pos-container {
  border: 15px solid;
  border-radius: 15px;
  margin: 0 0 40px 0
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-description-size {
    font-size: 13px;
  }
  .header-size {
    font-size: 27px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-description-size {
    font-size: 13px;
  }
  .header-size {
    font-size: 35px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-description-size {
    font-size: 15px;
  }
  .header-size {
    font-size: 43px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-description-size {
    font-size: 20px;
  }
  .header-size {
    font-size: 55px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-description-size {
    font-size: 20px;
  }
  .header-size {
    font-size: 60px;
  }
}