$container-max-widths: (
  sm: 540px,
  md: 600px,
  lg: 720px,
  xl: 800px,
  xxl: 1000px,
);

$border-radius: 0.5em;

$font-family-sans-serif: "Be Vietnam Pro", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


@import "../node_modules/bootstrap/scss/bootstrap";