@font-face {
  font-family: "Mazzard-H-Bold";
  src: url("./fonts/Mazzard/MazzardH-Bold.otf") format("woff"),
    url("./fonts/Mazzard/MazzardH-Bold.otf") format("opentype"),
    url("./fonts/Mazzard/MazzardH-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Mazzard-H-Black";
  src: url("./fonts/Mazzard/MazzardH-Black.otf") format("woff"),
    url("./fonts/Mazzard/MazzardH-Black.otf") format("opentype"),
    url("./fonts/Mazzard/MazzardH-Black.otf") format("truetype");
}
@font-face {
  font-family: "Mazzard-H-ExtraBold";
  src: url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("woff"),
    url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("opentype"),
    url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("truetype");
}
@font-face {
  font-family: "BeVietnam-Medium";
  src: url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "BeVietnam-Bold";
  src: url("./fonts/BeVietnam/BeVietnam-Bold.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-Bold.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BeVietnam-ExtraBold";
  src: url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "BeVietnam-SemiBold";
  src: url("./fonts/BeVietnam/BeVietnam-SemiBold.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-SemiBold.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "BeVietnam-Regular";
  src: url("./fonts/BeVietnam/BeVietnam-Regular.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-Regular.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BeVietnam-Light";
  src: url("./fonts/BeVietnam/BeVietnam-Light.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-Light.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-Medium";
  src: url("./fonts/Oswald/Oswald-Medium.ttf") format("tff"),
    url("./fonts/Oswald/Oswald-Medium.ttf") format("opentype"),
    url("./fonts/Oswald/Oswald-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-Bold";
  src: url("./fonts/Oswald/Oswald-Bold.ttf") format("tff"),
    url("./fonts/Oswald/Oswald-Bold.ttf") format("opentype"),
    url("./fonts/Oswald/Oswald-Bold.ttf") format("truetype");
}
/* .container{
  max-width: 980px;
} */

html,
body {
  height: 100%;
  /* overflow-x: hidden; */
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  letter-spacing: 1.4px;
}

/* a:focus{
  text-decoration: none;
} */

.C06202 {
  color: #c06202;
}

.react-multiple-carousel__arrow--right::before {
  content: "\003E" !important;
}
.react-multiple-carousel__arrow--left::before {
  content: "\003C" !important;
}

input::placeholder,
textarea::placeholder {
  color: #b38f00;
}

button,
input,
textarea {
  outline: none !important;
  border: none !important;
}
input,
textarea {
  background-color: #ffcc004d;
  font-family: "BeVietnam-ExtraBold" !important;
  font-size: 20px;
  color: #000000;
}

input::placeholder {
  color: #b38f00;
  font-family: "BeVietnam-ExtraBold";
}

input:invalid:focus,
textarea:invalid:focus {
  border: 2px solid red;
  background-color: white;
}
input:valid {
  border: 1px solid black;
}

input:hover,
textarea:hover {
  background-color: white;
}

label {
  font-family: "BeVietnam-Bold";
  font-size: 18px;
}

.checkbox {
  width: 40px !important;
  background-color: #ffdb4d;
  opacity: 1;
  color: #ffffff;
}
.checkbox:hover {
  background-color: #ffdb4d;
  opacity: 0.5;
}
 
.checkbox::selection {
  background-color: #ffcc00;
}

.long-button {
  border-radius: 0.5em;
  border: none;
  transition: 200ms;
  background-color: #ffcc00;
}

.long-button:hover {
  transition: 200ms;
  background-color: #ffcc00ca;
}

.newsletter-card {
  border-radius: 1em;
  transition: 200ms;
  background-color: #ffcc0080;
  font-family: "Oswald-Medium";
}

.newsletter-card:hover{
  transition: 200ms;
  background-color: #ffcc00;
}

.aff-org-card-link {
  font-family: "BeVietnam-ExtraBold", sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  transition: 0.2s;
  text-align: center;
}
.react-multi-carousel-item {
  margin: 10px;
}

/* #region Custom styles for navbar */
.nav-item {
  position: relative;
}
.nav-item-header {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

}
.nav-item-header a {
  font-size: 1.5em;
  margin: 0;
  color: #ffcc00;
  font-family: "BeVietnam-ExtraBold";
}

.nav-item-header a:hover {
  transition: 0.2s;
  color: #fa8d1f !important;
}
.nav-item-header:active {
  transition: 0.2s;
  color: black !important;
}
.nav-item-header:hover + .dropdown-container, .dropdown-container:hover  {
  display: block !important;
}
.donate-nav-item-header:hover + .dropdown-container, .dropdown-container:hover  {
  display: block !important;
}
.dropdown-container {
  display: none;
  position: absolute;
  border-radius: 15px;
  background-color: #ffdb4d;
  z-index: 100;
  white-space: nowrap;
  min-width: 100%;
}

/* for donate button specifically */
.donate-nav-item-header{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.donate-nav-item-header a{
  color: #ffffff; /* nav headers font style */
  font-family: "BeVietnam-ExtraBold";
  font-size: 1.5em;
}
.donate-nav-background {
  border-radius: 15px;
  background-color: #3399ff;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
.donate-nav-background:hover  {
  background-color: #70b8ff;
  transition: 0.2s;
  color: #3399ff !important;
}
.donate-nav-background:active {
  transition: 0.2s;
  color: #006bd6 !important;
}

/* for dropdowns */
.dropdown-container li {
  background-color: #ffdb4d;
  padding: 0.5em;
}
.dropdown-container a {
  font-size: 1.5em;
  font-family: "BeVietnam-ExtraBold";
  color: #fa8d1f;
}
.dropdown-container a:first-child li{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.dropdown-container a:last-child li{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dropdown-container li:hover {
  transition: 0.2s;
  background-color: #ffcc00;
}
.dropdown-container a:hover {
  transition: 0.2s;
  color: #c06204;
}
.dropdown-container li:active {
  transition: 0.2s;
  background-color: #ffcc00 !important;
  color: black !important;
}
.dropdown-container a:active {
  transition: 0.2s;
  color: black;
}
/*#endregion*/

/* #region styling for pages like teacher positions */
/*teacherpos, publicitypos, privacypolicy, websitetos*/
.pos-container {
  border: 15px solid;
  border-radius: 0 0 15px 15px;
  margin: 0 0 40px 0;
  color: rgb(255, 204, 0);
  border-color: rgb(255, 204, 0);
}

.pos-container2 {
  border: 15px solid;
  border-radius: 0 0 15px 15px;
  margin: 0 0 40px 0;
  color: #fa8d1f;
  border-color: #fa8d1f;
}

.pos-container-button {
  background-color: #fa8d1f !important;
  transition: 200ms !important;
}

.pos-container-button:hover {
  background-color: #ffcc00 !important;
  transition: 200ms !important;
}
.nav-tabs {
  border: none !important;
}
/*#endregion*/

/* #region indlearners and for schools */
.ind-learners-flag-course-card {
  border-radius: 1em;
  transition: 200ms;
  background-color: #3399ff99;
}
.school-flag-course-card {
  border-radius: 1em;
  transition: 200ms;
  background-color: #33cc6699;
}

.ind-learners-flag-course-card:hover,
.school-flag-course-card:hover {
  transition: 200ms;
  background-color: #ffdb4d;
}
.ind-learners-enroll-button {
  border-radius: 1em;
  border: none;
  transition: 200ms;
  background-color: #3399ff;
}
.school-enroll-button {
  border-radius: 1em;
  border: none;
  transition: 200ms;
  background-color: #33cc66;
}
.ind-learners-enroll-button:hover,
.school-enroll-button:hover {
  transition: 200ms;
  background-color: #ffdb4d;
}
.course-dropdown-card {
  display: none;
}
.course-dropdown-card:hover {
  display: flex;
}
.ind-learners-flag-course-card:hover + .course-dropdown-card,
.school-flag-course-card:hover + .course-dropdown-card{
  display: flex;
}
/* #endregion */

/* #region homepage styling */
.home-aff-org-card-link {
  font-family: "BeVietnam-ExtraBold", sans-serif;
  font-size: 2em;
  transition: 0.2s;
  text-decoration: none;
}
.home-page-house-img {
  background-image: url("media/HoverImages/house_1.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vmax;
  height: 17vmax; /* Height of new image */
  transition: 200ms;
  border: none !important;
}
.home-page-house-img:hover {
  background-image: url("media/HoverImages/house_2.png") !important;
  transition: 200ms;
}
.home-page-house-img + h1 {
  color: #3399ff;
  transition: 200ms;
}
.home-page-house-img:hover + h1 {
  color: #006bd6;
  transition: 200ms;
}

.home-page-apple-img {
  background-image: url("media/HoverImages/apple_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 15vmax;
  height: 17vmax; /* Height of new image */
  transition: 200ms;
  border: none !important;
}
.home-page-apple-img:hover {
  background-image: url("media/HoverImages/apple_2.png");
  transition: 200ms;
}
.home-page-apple-img + h1 {
  color: #70db94;
  transition: 200ms;
}
.home-page-apple-img:hover + h1 {
  color: #33cc66;
  transition: 200ms;
}

.home-page-world-img {
  background-image: url("media/HoverImages/world_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 17vmax;
  height: 17vmax; /* Height of new image */
  transition: 200ms;
  border: none !important;
}
.home-page-world-img:hover {
  background-image: url("media/HoverImages/world_2.png");
  transition: 200ms;
}
.home-page-world-img + h1 {
  color: #fcaf62;
  transition: 200ms;
}
.home-page-world-img:hover + h1 {
  color: #fa8d1f;
  transition: 200ms;
}

.yellow-row {
  background-color: #ffcc004d;
}

.video-width {
  height: 60vh;
  width: 75% !important;
}
/* #endregion */

/* #region faq hover styling */
.faq-dropdown {
  background-color: #ffcc0080;
  color: #c06204;
  transition: 200ms;
}
.faq-dropdown:hover {
  background-color: #ffdb4d !important;
  color: #532f04 !important;
  transition: 200ms;
}
/*#endregion*/

/* #region helper classes */
.hyperlink,
.hyperlink:hover {
  text-decoration: none;
  color: black;
}
.C06202 {
  color: #c06202;
}
.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mb-6 {
  margin-bottom: 6em;
}
/*#endregion*/

/* #region Fade Animation for Webpages */
.fade-enter {
  opacity: 0;
  transition: opacity 200ms;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-active {
  opacity: 0;
  transition: opacity 200ms;
}
/*#endregion*/

/* #region media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* text style on header blobs */
  .header-description-size {
    font-size: 13px;
  }
  .header-size {
    font-size: 27px;
  }
  .video-width {
    width: 100% !important;
    height: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-description-size {
    font-size: 13px;
  }
  .header-size {
    font-size: 35px;
  }
  .video-width {
    width: 100% !important;
    height: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-description-size {
    font-size: 15px;
  }
  .header-size {
    font-size: 43px;
  }
  .video-width {
    width: 100% !important;
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-description-size {
    font-size: 20px;
  }
  .header-size {
    font-size: 55px;
  }
  .aff-org-card-link:hover {
    transition: 0.2s;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-align: center;
  }
  .video-width {
    width: 75% !important;
    height: 60vh;
  }
  .home-aff-org-card-link:hover {
    transition: 0.2s;
    text-decoration: none;
    color: white !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-description-size {
    font-size: 20px;
  }
  .header-size {
    font-size: 60px;
  }
  .video-width {
    width: 75% !important;
    height: 60vh;
  }
  .home-aff-org-card-link:hover {
    transition: 0.2s;
    text-decoration: none;
    color: white;
  }
}