@font-face{
  font-family: "mazzard-h-bold";
  src:url("./fonts/MazzardH-Bold.otf") format("woff"),
  url("./fonts/MazzardH-Bold.otf") format("opentype"),
  url("./fonts/MazzardH-Bold.otf") format("truetype");
}

html, body {
  height: 100%;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

h2 {
  font-family: 'Oswald';
  font-size: 100px;
}

.vol_intern_positions {
  color: #fa8d1f
}
.teach_positions {
  color: #fcaf62;
}

.page-header-description {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.5vmax;
  color: black;
}
.header-blobs{
  background-image: url("media/HeaderBlobs/yellow.png");
  background-size: 100% 100%;
  height: 40vw;
  width: 100vw;
}


h1 {
  font-family:'mazzard-h-bold';
  font-size: 2vmax;
  color: #fa8d1f;
  transform: rotate(2deg);
 }

h2 {
  font-family: 'Oswald';
  font-size: 75px;
}

p { 
  font-family: 'Be Vietnam', sans-serif;
  font-size: 20px;
  color: black;
}

.header-text{
  position: relative;
  text-align: center;
  top: 70%;
}

.circle{
  height: 250px;
  width: 250px;
  background-color:#fcaf62;
  border-radius: 50%;
}

.circle-text{
  text-align: center;
  bottom:50%;
}
.stats_subtext{
  font-family:'Be Vietnam';
  font-size:20px;
}

.stats_title{
  font-family:'mazzard-h-bold';
  font-size: 35px;
}
.stats_numbers{
  font-family:'mazzard-h-bold';
  font-size:100px;
  color:black;
}